<head>
	<link rel="stylesheet" href="stylesheets/bootstrap.css">
</head>
<section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <p>Ukupno: {{ukupno}}, Ok:  {{ok}}</p>
    <div id="my-container" class="table-responsive">
{{!--         {{# each coins }}
            <div>Coin pair/status: {{ this.label }} {{this.status }}</div>
        {{/each}} --}}

    <table class="table table-striped">
	    <tbody>
	    	<tr>
	    		<th>Symbol</th>
	    		<th>Profit %</th>
	    		<th>Exchange pair (Lo/Hi)</th>
	    		<th colspan="9">Cryptopia</th>
	    		<th colspan="5">Bitfinex</th>
	    		<th colspan="7">Poloniex</th>
	    	</tr>
	    		<tr>
	    			<th></th>
	    			<th></th>
	    			<th></th>
	    			<th>Name</th>
	    			<th>Status</th>
	    			<th>Listing</th>
	    			<th>Message</th>
	    			<th>Last price</th>
	    			<th>Ask price</th>
	    			<th>Bid price</th>
	    			<th>Buy volume</th>
	    			<th>Sell volume</th>

	    			<th>Last price</th>
	    			<th>Ask price</th>
	    			<th>Bid price</th>
	    			<th>Buy volume</th>
	    			<th>Sell volume</th>

					<th>Name</th>
	    			<th>Last price</th>
	    			<th>Ask price</th>
	    			<th>Bid price</th>
	    			<th>Disabled</th>
	    			<th>Delisted</th>
	    			<th>Frozen</th>

	    		</tr>
	    	{{#each results}}
		        	<tr>
		    		{{!-- osnovni --}}
		        		<td>{{{ coin}}}</td>
		        		<td>{{{ razlika}}}%</td>
		        		<td>{{{ Lo }}} / {{Hi}}</td>
		        	{{!-- Cryptopia --}}
		        		<td>{{{ CrName }}}</td>
		        		<td>{{{ CrStatus }}}</td>
		        		<td>{{{ CrListingStatus }}}</td>
		        		<td>{{{ CrMessage }}}</td>
		        		<td class="price">{{ Cryptopia }}</td>
		        		<td class="price">{{ CrAsk }}</td>
		        		<td class="price">{{ CrBid }}</td>
		        		<td class="price">{{ CrBuyVol }}</td>
		        		<td class="price">{{ CrSellVol }}</td>
		        	{{!-- Bitfinex --}}
		        		<td class="price">{{{ Bitfinex }}}</td>
		        		<td class="price">{{{ BfAsk }}}</td>
		        		<td class="price">{{{ BfBid }}}</td>
		        		<td class="price">{{{ BfBuyVol }}}</td>
		        		<td class="price">{{{ BfSellVol }}}</td>
		        	{{!-- Poloniex --}}
		        		<td>{{{ PolName }}}</td>
		        		<td class="price">{{{ Poloniex }}}</td>
		        		<td class="price">{{{ PolAsk }}}</td>
		        		<td class="price">{{{ PolBid }}}</td>
		        		<td>{{{ disabled }}}</td>
		        		<td>{{{ delisted }}}</td>
		        		<td>{{{ frozen }}}</td>
		            </tr>
	        {{/each}}
	    </tbody>
	</table>
    </div>
</section>
